.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &__logo {
    height: 20rem;
  }

  &__sign {
    height: 13rem;
  }

  &__Title {
    padding: 2rem;
    color: #e2bab8;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__description {
    display: flex;
  }
}
