.Contact {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .Title {
  }

  &__form {
    width: 60rem;
    display: flex;
    flex-direction: column;
  }

  &__input {
    height: 2rem;
  }

  &__textarea {
    height: 10rem;
  }

  &__button {
    background-color: black;
    color: white;
    border: 1px;
    border-radius: 2px;
    height: 2.5rem;
    font-size: large;
    font-weight: 500;
    width: 8rem;
    margin-top: 1rem;
  }
}
